*{
	margin:0;
	padding:0;
	font-family: 'poppins',sans-serif;
	box-sizing: border-box;
}
body{

	background:#080808 ;
	color: white;
}

#header{
	width: 100%;
	height: auto;
  background-size: cover;
	background-position: center;
  text-decoration: none;
  font-size: 25px;
  display:inline-block;
}
li{
  list-style-type: none;
  float: left;
  overflow: hidden;
  padding: 10px;

}
li a {
  text-decoration: none;
  color: white;
  display: block;
}

.logo{
	height: 50px;
	width: 100px;
}

nav{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

    li a::after{
    	content: '';
    	width: 0;
    	height: 3px;
    	background: #ff004f;
    	position: absolute;
    	left: 0;
    	bottom: -6px;
    	transition: 0.5s;
      color: red;
      background-color: red;
    }
     li a:hover::after{
     	width: 100%;
      color: red;

     }
    
    .header-text{
    	margin-top: 20%;
    	font-size: 30px;

    }
    .header-text h2{
      font-size: 60px;
      margin-top: 20px;
    }
    .header-text h2 span{
    	color: red;
    }

    #about{
    	padding: 60px 0;
    	color: #ababab;     
    }
   .row{
   	display: flex;
   	justify-content: space-between;
   	flex-wrap: wrap;
   }
   .about-col-1{
   	flex-basis: 35%;
   }
   .about-col-1:img{
    margin-left: 20%;
   	width: 200%;
   	border-radius: 20px;
   }
   .about-col-2{
   	flex-basis: 60%;

   }
   .subtitle{
   	font-size: 40px;
   	font-weight: 600;
   	color: white;
   }
   .tab-titles{
   	display: flex;
   	margin: 20px 0 40px;
  }
  .tab-links{
     margin-right:50px ;
     font-size: 18px;
     font-weight:500 ;
     cursor: pointer;
     position: relative;
  }
  .tab-links::after{
  	content: '';
  	width: 0;
  	height:3px ;
  	background:#ff084f ;
  	position: absolute;
  	left: 0;
  	bottom: -8px;
  	transition: 0.5s;
  }
  .tab-links.active-link::after{
  	width: 50%;
    
  }
  .tab-contents ul li{
    list-style: none;
    margin: 10px 0;

  }
  .tab-contents ul li span{
  	color: #b54769;
  	font-size: 14px;

  }
  .tab-contents {
  	display: none;
  }
  .tab-contents.active-tab{
     display: block;
  }
  .detail{
    margin-left: 40%;
    margin-top: 40px;
  }
  .detail a{
    color: white;
  }
  #contact{
    flex: 30px;
  }
  .footer-bottom{
    margin-left: 30%;
    padding-top: 30px;
    color: white;
  }
  .footer-bottom span{
    font-family: sans-serif;
    color: lightcyan;
  }